html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom:0px;
  width: 100%;
  position: absolute;
  right: 0px;
  height: 66vh;
}

.options-box {
  background: #fff;
  height: 30vh;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
}

.text {
  font-size: 12px;
}

@media only screen and (min-width: 760px) {
  #map {
	    height: 70vh;
	}

	#places {
		font-size: 20px;
	}
}

@media only screen and (min-width: 950px) {
	#map {
	    height: 65vh;
	}

  #places {
    font-size: 24px;
    line-height: 45px;
  }

	h1 {
		font-size: 36px;
	}
}
